{% extends 'base.html' %}

{% block title %} <title>Main</title> {% endblock %}

{% block body %}
<div class="wrapper">
	<div class="inner">
		<img src="{{url_for('static', filename='assets/images/teacher_rev.png')}}" alt="img1" class="image-1">
		<form action="/result" method="POST">
			<h3 class="mb-5">English Level Checker</h3>
			<div class="form-holder">
				<span class="lnr lnr-user"></span>
				<input type="text" class="form-control" id="name" type="text" placeholder="Name" name="name">
			</div>
			<div class="form-holder">
				<span class="lnr lnr-mic"></span>
				<input type="text" class="form-control" id="speaking" type="number"
					placeholder="Enter Speaking Score (0-1)" name="speaking" step="0.01" min="0" max="1">
			</div>
			<div class="form-holder">
				<span class="lnr lnr-pencil"></span>
				<input type="text" class="form-control" id="writing" type="number"
					placeholder="Enter Writing Score (0-1)" name="writing" step="0.01" min="0" max="1">
			</div>
			<!-- create button for submit -->
			<input required
				class="mt-3 w-full px-4 py-2 font-bold text-white bg-indigo-500 cursor-pointer rounded-full hover:bg-indigo-700 focus:outline-none focus:shadow-outline"
				type="submit" value="Check">
			</input>
		</form>
		<img src="{{url_for('static', filename='assets/images/image-2.png')}}" alt="img2" class="image-2">
	</div>

</div>

<script src="{{url_for('static', filename='js/jquery-3.3.3.min.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}