{% extends 'base.html' %}

{% block title %} <title>Velocity | English Level Checker</title> {% endblock %}

{% block body %}
<div class="wrapper">
	<div class="inner">
		<img src="{{url_for('static', filename='assets/images/teacher_rev.png')}}" alt="img1" class="image-1">
		<form action="/result" method="POST">
			<h3 class="mb-5">English Level Checker</h3>
			<div class="form-holder">
				<span class="lnr lnr-user"></span>
				<input required type="text" class="form-control" id="name" type="text" placeholder="Name" name="name">
			</div>
			<div class="form-holder">
				<span class="lnr lnr-mic"></span>
				<input required type="text" class="form-control" id="Speaking" type="number"
					placeholder="Enter Speaking Score (0-1)" name="Speaking" step="0.01" min="0" max="1">
			</div>
			<div class="form-holder">
				<span class="lnr lnr-book"></span>
				<input required type="text" class="form-control" id="Reading" type="number"
					placeholder="Enter Reading Score (0-1)" name="Reading" step="0.01" min="0" max="1">
			</div>
			<div class="form-holder">
				<span class="lnr lnr-volume-high"></span>
				<input required type="text" class="form-control" id="Listening" type="number"
					placeholder="Enter Listening Score (0-1)" name="Listening" step="0.01" min="0" max="1">
			</div>
			<div class="form-holder">
				<span class="lnr lnr-pencil"></span>
				<input required type="text" class="form-control" id="Writing" type="number"
					placeholder="Enter Writing Score (0-1)" name="Writing" step="0.01" min="0" max="1">
			</div>
			<!-- create button for submit -->
			<input required;
				class=" opacity-70 mt-3 w-full px-4 py-2 font-bold text-white bg-gradient-to-r from-[#4164a8] via-[#00a5b5] to-[#00bc9d]  hover:opacity-100 bg-gradient-to-r from-[#4164a8] via-[#00a5b5] to-[#00bc9d]  via cursor-pointer rounded-full hover:bg-indigo-700 focus:outline-none focus:shadow-outline"
				type="submit" value="Check">
			</input>
		</form>
		<img src="{{url_for('static', filename='assets/images/image-2.png')}}" alt="img2" class="image-2">
	</div>

</div>

<script src="{{url_for('static', filename='js/jquery-3.3.3.min.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}